{% load i18n static tailwind_tags finhub %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:"rtl,ltr,auto" }}" x-data="{ adminTheme: $persist('auto').as('adminTheme') }" x-bind:class="{'dark': adminTheme === 'dark' || (adminTheme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)}" x-cloak>
<head>
{% include 'includes/head.html' %} 
</head>
<body class="antialiased text-gray-500 dark:bg-gray-900 dark:text-gray-400">
    {% block base %}{% endblock %}

    <div id="modal-overlay" 
    class="backdrop-blur-sm bg-opacity-80 bg-gray-900 bottom-0 fixed hidden left-0 mr-1 right-0 top-0 z-50"></div>

    {% include 'includes/scripts.html' %} 
</body>

</html>