<div class="px-4">
    <div class="container mx-auto max-w-7xl py-4 lg:py-8">     
        <div class="border-t dark:border-gray-800">
            <div class="py-24 lg:py-32">
                <h2 class="font-medium max-w-3xl mb-4 mx-auto text-center text-xl text-gray-700 lg:text-2xl dark:text-white">
                    Embark on Your Financial Literacy Journey
                </h2>
                <p class="leading-loose max-w-3xl mx-auto text-center text-base lg:text-lg lg:leading-relaxed">
                    Explore our curated list of courses designed to empower you with the knowledge to manage your finances confidently.
                </p>
            </div>
            <div class="flex flex-col gap-8 grid md:grid-cols-2 lg:grid-cols-2 items-center px-16">
                {% for coarse in coarses %}
                <div >
                    <div class="bg-gray-200 h-px mb-6 dark:bg-gray-700">
                        <div class="bg-teal-600 h-px w-1/2"></div>
                    </div>
                    <h3 class="mb-4 font-bold text-base text-gray-700 dark:text-white">
                        {{coarse.name}}
                    </h3>
                    <p class="leading-extra-relaxed mb-4 text-base">
                        {{coarse.description}}
                    </p>
                    <a href="/learn/" class="flex flex-row items-center ml-auto text-base text-teal-600">
                        Start Learning
                        <i class="material-symbols-outlined ml-1 text-lg">arrow_right_alt</i>
                    </a>
                </div>
                {% endfor %}
                          
            </div>
        </div>
    </div>
</div>
