<div class="container max-w-7xl mx-auto">
  <div class="pt-32 pb-64 px-4">
    <div class="flex flex-row max-auto justify-center"></div>

    <h1
      class="font-extrabold leading-snug max-w-4xl mb-4 mx-auto text-2xl text-center text-gray-900 tracking-tight lg:leading-normal lg:text-4xl dark:text-white"
    >
    Financial literacy system
    </h1>
    <p
      class="leading-loose mb-12 mx-auto max-w-3xl text-base text-center lg:leading-relaxed lg:text-xl"
    >
    A financial literacy system can help bridge the gap by providing accessible
     and understandable financial education to remote rural communities. 
    </p>
  </div>
</div>
