<ul class="space-y-2 md:mt-5">
          
    <li>
      <a href="/learn/" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-3 group">
          <span class="material-symbols-outlined w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75">dashboard</span>
          <span class="ml-3">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/learn/my-coarses" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-3 group ">
        <span class="material-symbols-outlined w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75">school</span>
          <span class="ml-3 flex-1 whitespace-nowrap">My Coarses</span>
          
      </a>
    </li>
    <li>
      <a href="/learn/resources"  class="font-bold text-gray hover:bg-gray-100 flex items-center p-3 group">
        <span class="material-symbols-outlined ml-3 w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75">money</span>
          <span class="ml-3 flex-1 whitespace-nowrap">Financial services</span>
          
      </a>
    </li>
    <li>
      <a href="" class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-3 group ">
        <span class="material-symbols-outlined w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75">person</span>
        <span class="ml-3 flex-1 whitespace-nowrap">Profile</span>
      </a>
    </li>
    
  </ul>