{% load i18n static tailwind_tags finhub %}

{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
    
    <!-- Primary Meta Tags -->
<title>Empower Your Financial Future with FinHub</title>
<meta name="title" content="Empower Your Financial Future with FinHub">
<meta name="description" content="FinHub offers comprehensive financial literacy courses designed to empower individuals in Zimbabwe with the knowledge to manage their finances confidently.">

<!-- Charset & Viewport for responsiveness -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://finhub-sand.vercel.app/">
<meta property="og:title" content="Empower Your Financial Future with FinHub">
<meta property="og:description" content="FinHub offers comprehensive financial literacy courses designed to empower individuals in Zimbabwe with the knowledge to manage their finances confidently.">
<meta property="og:image" content="https://finhub-sand.vercel.app/media/images/icon.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://finhub-sand.vercel.app/">
<meta property="twitter:title" content="Empower Your Financial Future with FinHub">
<meta property="twitter:description" content="FinHub offers comprehensive financial literacy courses designed to empower individuals in Zimbabwe with the knowledge to manage their finances confidently.">
<meta property="twitter:image" content="https://finhub-sand.vercel.app/media/images/icon.png">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="media/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="media/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="media/images/favicon-16x16.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <link href="{% static "fonts/material-symbols/styles.css" %}" rel="stylesheet">
    <link href="{% static "css/simplebar.css" %}" rel="stylesheet">
    <link href="{% static "css/aos.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Nucleo Icons -->
<link href="{% static 'assets/css/nucleo-icons.min.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/nucleo-svg.min.css' %}" rel="stylesheet" />




    
    <style>
        .bg-radial {
            background-image: radial-gradient(ellipse 85% 60% at 50% -22%,var(--tw-gradient-from),var(--tw-gradient-to));
        }
        .bg-grid {
            background-image: repeating-linear-gradient(90deg,var(--tw-gradient-from),var(--tw-gradient-from) 1px,var(--tw-gradient-to) 1px,var(--tw-gradient-to) 64px);
        }
        .htmx-indicator{opacity:0;transition: opacity 200ms ease-in;}
        .htmx-request .htmx-indicator{opacity:1} 
        .htmx-request.htmx-indicator{opacity:1} 

        html {                        
            --color-primary-50: 250 245 255;                
            --color-primary-100: 243 232 255;
            --color-primary-200: 233 213 255;                
            --color-primary-300: 216 180 254;                
            --color-primary-400: 192 132 252;                
            --color-primary-500: 168 85 247;                
            --color-primary-600: 147 51 234;                
            --color-primary-700: 126 34 206;                
            --color-primary-800: 107 33 168;                
            --color-primary-900: 88 28 135;
        }
    </style>

    {% for style in styles %}
        <link href="{{ style }}" rel="stylesheet">
    {% endfor %}

    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}

    {% block extrastyle %}{% endblock %}

    {% block extrahead %}{% endblock %}


    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% endblock %}

    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE">
    {% endblock %}

    {% if colors %}
        <style>
            html {
                {% for name, weights in colors.items %}
                    {% for weight, value in weights.items %}
                        --color-{{ name }}-{{ weight }}: {{ value }};
                    {% endfor %}
                {% endfor %}
            }
            .bg-grid {
                background-image: repeating-linear-gradient(90deg,var(--tw-gradient-from),var(--tw-gradient-from) 1px,var(--tw-gradient-to) 1px,var(--tw-gradient-to) 64px);
            }
        </style>
    {% endif %}