{% load static %}

<script>
  var page = window.location.pathname.split("/").pop().split(".")[0];
  var aux = window.location.pathname.split("/");
  var to_build = (aux.includes('pages')?'../':'./');
  var root = window.location.pathname.split("/")
  if (!aux.includes("pages")) {
    page = "dashboard";
  }
  $(function() {
    "use strict";
  $(".category-item").click(function() {
    var category = $(this).data("category-id");
  
    loadBanks(category); // Now you are passing the specific data
  });

  function loadBanks(category) {
    console.log("Progress....");
    $("#categoryList").hide();
    $("#listOfBanks").show();
    console.log(category)

    $.ajax({
      url: "/learn/resources",
      type: "POST",
      data: { id: category, csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()},
      success: function (data) {
        console.log(data);
        // Update context
        $("#listOfBanks").html(data);
        
      },
      error: function (jqXHR, textStatus, errorThrown) {
        // Handle errors gracefully
        console.error("AJAX error:", errorThrown);
      },
      complete: function () {
        // Hide spinner after response received
        $("#loadingSpinner").hide();
        toggleReadMoreLess();
      },
    });
  }

  function toggleReadMoreLess() {
    var content = $("#description");
    var toggleButton = $("#toggleContext");
    console.log("***************")
    

    var truncatedContent = content.text().substring(0, 40); // Display first 200 characters initially
    console.log(truncatedContent);
    content.data("fullText", content.text()); // Store full text in data attribute

    content.text(truncatedContent + "..."); // Display truncated content

    toggleButton.on("click", function () {
      if (content.hasClass("showLess")) {
        // Show less
        content.text(truncatedContent + "...");
        toggleButton.text("Read More");
        content.removeClass("showLess");
      } else {
        // Show more
        content.text(content.data("fullText"));
        toggleButton.text("Read Less");
        content.addClass("showLess");
      }
    });
  }
  });

  loadStylesheet("{% static 'assets/css/perfect-scrollbar.css' %}");
  loadJS("{% static 'assets/js/perfect-scrollbar.js' %}", true);

  if (document.querySelector("nav [navbar-trigger]")) {
    loadJS("{% static 'assets/js/navbar-collapse.js' %}", true);
  }

  if (document.querySelector("[data-target='tooltip']")) {
    loadJS("{% static 'assets/js/tooltips.js' %}", true);
    loadStylesheet("{% static 'assets/css/tooltips.css' %}");
  }

  if (document.querySelector("[nav-pills]")) {
    loadJS("{% static 'assets/js/nav-pills.js' %}", true);
  }

  if (document.querySelector("[dropdown-trigger]")) {
    loadJS("{% static 'assets/js/dropdown.js' %}", true);

  }

  if (document.querySelector("[fixed-plugin]")) {
    loadJS("{% static 'assets/js/fixed-plugin.js' %}", true);
  }

  if (document.querySelector("[navbar-main]")) {
    loadJS("{% static 'assets/js/sidenav-burger.js' %}", true);
    loadJS("{% static 'assets/js/navbar-sticky.js' %}", true);
  }

  if (document.querySelector("canvas")) {
    loadJS("{% static 'assets/js/chart-1.js' %}", true);
    loadJS("{% static 'assets/js/chart-2.js' %}", true);
  }

  function loadJS(FILE_URL, async) {
    let dynamicScript = document.createElement("script");

    dynamicScript.setAttribute("src", FILE_URL);
    dynamicScript.setAttribute("type", "text/javascript");
    dynamicScript.setAttribute("async", async);

    document.head.appendChild(dynamicScript);
  }

  function loadStylesheet(FILE_URL) {
    let dynamicStylesheet = document.createElement("link");

    dynamicStylesheet.setAttribute("href", FILE_URL);
    dynamicStylesheet.setAttribute("type", "text/css");
    dynamicStylesheet.setAttribute("rel", "stylesheet");

    document.head.appendChild(dynamicStylesheet);
  }

  var contentWayPoint = function() {
		var i = 0;
		$('.ftco-animate').waypoint( function( direction ) {

			if( direction === 'down' && !$(this.element).hasClass('ftco-animated') ) {
				
				i++;

				$(this.element).addClass('item-animate');
				setTimeout(function(){

					$('body .ftco-animate.item-animate').each(function(k){
						var el = $(this);
						setTimeout( function () {
							var effect = el.data('animate-effect');
							if ( effect === 'fadeIn') {
								el.addClass('fadeIn ftco-animated');
							} else if ( effect === 'fadeInLeft') {
								el.addClass('fadeInLeft ftco-animated');
							} else if ( effect === 'fadeInRight') {
								el.addClass('fadeInRight ftco-animated');
							} else {
								el.addClass('fadeInUp ftco-animated');
							}
							el.removeClass('item-animate');
						},  k * 50, 'easeInOutExpo' );
					});
					
				}, 100);
				
			}

		} , { offset: '95%' } );
	};
	contentWayPoint();

</script>